n8n-whatsapp-notifications-workflow.json

{
  "name": "WhatsApp Notifications with Baileys",
  "nodes": [
    {
      "parameters": {
        "pollTimeMinutes": 1,
        "table": "system_notifications",
        "where": {
          "delivery_method": "whatsapp",
          "status": "pending"
        }
      },
      "id": "1",
      "name": "Monitor Notifications",
      "type": "n8n-nodes-base.supabaseTrigger",
      "typeVersion": 1,
      "position": [260, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.delivery_method }}",
              "rightValue": "whatsapp",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "all"
        }
      },
      "id": "2",
      "name": "Filter WhatsApp Notifications",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $vars.BAILEYS_WEBHOOK_URL }}/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.BAILEYS_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.metadata.phone_number }}"
            },
            {
              "name": "message",
              "value": "{{ $json.message }}"
            },
            {
              "name": "type",
              "value": "text"
            }
          ]
        },
        "options": {}
      },
      "id": "3",
      "name": "Send WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 200]
    },
    {
      "parameters": {
        "resource": "rows",
        "operation": "update",
        "tableId": "system_notifications",
        "updateKey": "id",
        "fieldsToSend": "defined",
        "fields": {
          "status": "sent",
          "sent_at": "={{ new Date().toISOString() }}",
          "updated_at": "={{ new Date().toISOString() }}"
        },
        "where": "id=eq.{{ $('Monitor Notifications').item.json.id }}"
      },
      "id": "4",
      "name": "Update Status Success",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [920, 200]
    },
    {
      "parameters": {
        "resource": "rows",
        "operation": "update",
        "tableId": "system_notifications",
        "updateKey": "id",
        "fieldsToSend": "defined",
        "fields": {
          "status": "failed",
          "updated_at": "={{ new Date().toISOString() }}",
          "metadata": "={{ JSON.stringify({...($('Monitor Notifications').item.json.metadata || {}), error: $json.error}) }}"
        },
        "where": "id=eq.{{ $('Monitor Notifications').item.json.id }}"
      },
      "id": "5",
      "name": "Update Status Failed",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [920, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $vars.BAILEYS_WEBHOOK_URL }}/get-status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.BAILEYS_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6",
      "name": "Check WhatsApp Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "connected",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "7",
      "name": "Check Connection",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $vars.BAILEYS_WEBHOOK_URL }}/initialize",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.BAILEYS_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8",
      "name": "Initialize WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $vars.BAILEYS_WEBHOOK_URL }}/send-template",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.BAILEYS_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.metadata.phone_number }}"
            },
            {
              "name": "template",
              "value": "{{ $json.notification_type }}_template"
            },
            {
              "name": "variables",
              "value": "={{ JSON.stringify($json.metadata.template_variables || {}) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9",
      "name": "Send Template Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.metadata?.use_template }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        }
      },
      "id": "10",
      "name": "Check Template",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 250]
    }
  ],
  "connections": {
    "Monitor Notifications": {
      "main": [
        [
          {
            "node": "Filter WhatsApp Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter WhatsApp Notifications": {
      "main": [
        [
          {
            "node": "Check Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Template": {
      "main": [
        [
          {
            "node": "Send Template Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Message": {
      "main": [
        [
          {
            "node": "Update Status Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Template Message": {
      "main": [
        [
          {
            "node": "Update Status Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check WhatsApp Status": {
      "main": [
        [
          {
            "node": "Check Connection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Connection": {
      "main": [
        [],
        [
          {
            "node": "Initialize WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "whatsapp-notifications-baileys",
  "tags": []
}
