n8n-receipt-ocr-workflow.json

{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receipt-ocr",
        "options": {}
      },
      "id": "bb0375fa-0a80-4536-b59f-64f90c9054b6",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1020,
        -160
      ],
      "webhookId": "receipt-ocr-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nif (!body.fileUrl || !body.receiptId) {\n  throw new Error('Falta fileUrl o receiptId');\n}\nreturn {\n  receiptId: body.receiptId,\n  fileUrl: body.fileUrl,\n  originalFileUrl: body.originalFileUrl || body.fileUrl,\n  timestamp: body.timestamp || new Date().toISOString(),\n  source: 'n8n_webhook'\n};"
      },
      "id": "40d7706c-9f18-4096-9061-08a126ac50a0",
      "name": "Validate Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        -160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": {
          "model": "gpt-4o",
          "messages": [
            {
              "role": "user",
              "content": [
                {
                  "type": "text",
                  "text": "Analiza este comprobante de pago argentino y extrae la información en formato JSON. Responde ÚNICAMENTE con el JSON:\n{\n  \"date\": \"YYYY-MM-DD\",\n  \"amount\": número,\n  \"type\": \"tipo de comprobante\",\n  \"number\": \"número del comprobante\",\n  \"cuit\": \"CUIT del emisor\",\n  \"paymentMethod\": \"método de pago\",\n  \"description\": \"descripción\",\n  \"confidence\": número_entre_0_y_1\n}"
                },
                {
                  "type": "image_url",
                  "image_url": {
                    "url": "={{ $json.fileUrl }}",
                    "detail": "high"
                  }
                }
              ]
            }
          ],
          "max_tokens": 1000,
          "temperature": 0.1
        },
        "options": {}
      },
      "id": "69273d30-27a2-43a1-8113-762a14c1be32",
      "name": "OpenAI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -580,
        -160
      ],
      "credentials": {
        "openAiApi": {
          "id": "Gxl6XUAo0lXMAh52",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const openai = $input.first().json;\nconst webhook = $('Validate Data').first().json;\nlet content = openai.choices?.[0]?.message?.content?.trim() || '';\ncontent = content.replace(/```json|```/g, '').trim();\nlet data;\ntry {\n  data = JSON.parse(content);\n} catch {\n  data = {\n    date: new Date().toISOString().split('T')[0],\n    amount: 0,\n    type: 'comprobante',\n    number: 'ERROR',\n    cuit: '',\n    paymentMethod: 'desconocido',\n    description: 'Error de análisis',\n    confidence: 0.1\n  };\n}\nreturn {\n  receiptId: webhook.receiptId,\n  extractedData: data,\n  originalFileUrl: webhook.originalFileUrl,\n  success: true,\n  timestamp: new Date().toISOString(),\n  processingNotes: `Monto: $${data.amount}, Fecha: ${data.date}, Confianza: ${Math.round((data.confidence || 0)*100)}%`\n};"
      },
      "id": "f41551c2-2c77-46a8-9a29-424765db1eeb",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        -160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "value1": "={{ $json.success }}",
              "operation": "equal",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "ec1ca279-c9c3-417b-a510-89e23397b2a6",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -160,
        -160
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://scikpgzpgzevkgwwobrf.supabase.co/rest/v1/payment_receipts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $json.receiptId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": {
          "receipt_date": "={{ $json.extractedData.date }}",
          "amount": "={{ $json.extractedData.amount }}",
          "receipt_type": "={{ $json.extractedData.type }}",
          "receipt_number": "={{ $json.extractedData.number }}",
          "patient_cuit": "={{ $json.extractedData.cuit }}",
          "payment_method": "={{ $json.extractedData.paymentMethod }}",
          "extracted_data": "={{ $json.extractedData }}",
          "extraction_status": "extracted",
          "validation_status": "needs_review",
          "validation_notes": "={{ $json.processingNotes }}",
          "include_in_report": true,
          "auto_approved": "={{ $json.extractedData.confidence > 0.85 }}"
        },
        "options": {}
      },
      "id": "82eb87d1-5ad0-40da-9a08-3cc3f39b02e6",
      "name": "Update Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        20,
        -280
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SnvlmLnJ0wBkJeMU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: $json.success,\n  receiptId: $json.receiptId,\n  message: $json.success ? '✅ OCR completado exitosamente' : '❌ Error en procesamiento OCR',\n  extractedData: $json.extractedData || null,\n  error: $json.error || null,\n  timestamp: $json.timestamp,\n  amount: $json.extractedData?.amount || null,\n  processingNotes: $json.processingNotes || null\n} }}",
        "options": {}
      },
      "id": "b9d51b85-d892-4d1f-a53a-f3abc4e512af",
      "name": "Final Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        220,
        -160
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Data": {
      "main": [
        [
          {
            "node": "OpenAI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Analysis": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Update Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Success": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9058f9e9-4eb3-44e4-a2f1-738f18f76cb6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0f90e7e698a26ccc8675c2a41b5acedaeb9f232112f36c9b2aa196e8adf5846f"
  },
  "id": "fJCBHMV4cRYVilsi",
  "tags": [
    {
      "createdAt": "2025-06-10T02:45:23.928Z",
      "updatedAt": "2025-06-10T02:45:23.928Z",
      "id": "fnoZNQnQUQmUYqbV",
      "name": "Proconecction"
    }
  ]
}
